.welcome-section {
  max-width: 100vw;
  .text-container {
    margin-top: 30px;

    .welcome-text {
      padding: 8px 16px;
      background: $tertiary;
      line-height: 35px;
      max-width: 400px;
    }
  }

  .date {
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
  }

  .location {
    margin-top: 10px;
  }
}

.programs {
  background-color: #333;
  padding: 10px;
  display: grid;
  place-items: center;

  h1 {
    color: #fff;
    text-align: center;
  }

  .program {
    display: flex;
    background-color: #4d3939;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin: 20px 0;
    max-width: 500px;

    .program-title {
      display: flex;
      align-items: center;
      width: 30%;
      color: $secondary;
      font-family: cocogoose, 'arial';

      img {
        width: 40px;
        margin-right: 10px;
      }
    }

    .program-description {
      width: 60%;
      color: #fff;
    }
  }

  .btn-program {
    width: 300px;
    border: none;
    padding: 30px;
    background-color: $secondary;
    text-align: center;
  }
}
